*.o
*.a
*.so
*.lo
*.la
stamp-h1
.deps/
.libs/
_inst/
_inst/*
CVS/*
CVS
*/CVS/*
distribute.sh
Makefile
Makefile.in
config.log
config.status
config.h
config.h.in
configure
/aclocal.m4
/ltmain.sh
/m4/libtool.m4
*.pc
lighttpd
missing
test-driver
ar-lib
src/cscope.in.out
src/cscope.out
src/cscope.po.out
src/tags
src/CVS/Entries
aclocal.m4
autom4te.cache/*
Makefile.in
tests/docroot/*
tests/docroot
doc/*
doc/CVS/*
doc/outdated/CVS/
doc/outdated/CVS/*
doc/scripts/CVS/*
doc/scripts/*
m4/CVS/Entries
external_file/CVS
external_file/CVS/*
external_file/css/CVS/*
external_file/js/CVS/*
libtool
src/lemon
src/lighttpd-angel
src/lighttpd-arpping
src/lighttpd-monitor
src/proc_open
src/versionstamp.h
*/Makefile.in
