.*
*.o
*.a
*.lo
*.la
*.d
stamp-h1
Makefile
Makefile.in
aclocal.m4
configure
config.h
config.h.in
config.log
config.status
libid3tag.list
compile
libtool
ltmain.sh
msvc++/Makefile
config.h.in~
compat.c
autom4te.cache
frametype.c

