.*
*.o
*.a
*.lo
*.la
*.d
stamp-h1
Makefile
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
config.guess
configure
missing
doc/Makefile
src/Makefile
src/sdparm
autom4te.cache
