*.a
*.la
*.lo
*.o
.deps/
.libs/
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
configure
depcomp
doc/defines.texi
install-sh
libtool
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
lib/version.h
ltmain.sh
Makefile
Makefile.in
missing
redhat/quagga.spec
ripd/ripd
tests/test-commands-defun.c
update-autotools
vtysh/extract.pl
vtysh/vtysh_cmd.c
watchquagga/watchquagga
zebra/testzebra
zebra/zebra
